<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="libs/reflect.js"></script>
    <script src="libs/system.js"></script>
    <script>
        SystemJS.import('/lib/app.js');
    </script>
</head>
<body>
<input id="text1" type="text" placeholder="покупка" size="50"/>
<input id="Button1" type="button" value="update"/>
<br>
<br>
<ul id="list"></ul>
</body>
</html>